@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Adamina&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Inter", sans-serif;
  background: #0f172a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  color: #94a3b8;
}

.nav-text {
  display: flex;
  align-items: center;
  color: #94a3b8;
  transition: color 0.1s ease-in-out;
  cursor: pointer;
}

.nav-text::before {
  content: "";
  width: 30px;
  height: 1.5px;
  background-color: #94a3b8;
  margin-right: 15px;
  transition: width 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.nav-text:hover {
  color: white;
}

.nav-text:hover::before {
  width: 80px;
  background-color: white;
}

.nav-selected {
  color: white;
}

.nav-selected::before {
  width: 80px;
  height: 1.5px;
  background-color: white;
}
